@import './layout/root';
html{
    font-size: 62.5%;

}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    body{
        overflow-x: hidden;
            background-color: var(--unnamed-color-171717);
            main{
                @import './layout/sidebar';
                @import './layout/front-page';
                @import './layout/scroll-text';
            }

        }
}