:root {
  --bg-color: #171717;
  --font-color-main: white;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* body {
  background-color: var(--bg-color);
  color: var(--font-color-main);
}

* body main aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 192vh;
  width: 6.615vw;
  border: 1px solid black;
  border-color: transparent;
  border-right-color: rgba(255, 255, 255, 0.2);
  border-bottom-color: rgba(255, 255, 255, 0.2);
  float: left;
}

* body main aside nav {
  padding-bottom: 3.906vw;
}

* body main aside nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  font-size: 1.042vw;
  font-family: 'II Vorkurs';
}

* body main aside nav ul li {
  padding: 25px 50px;
}

* body main aside nav ul li a {
  color: var(--font-color-main);
  text-decoration: none;
}

<<<<<<< HEAD
* body footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #656565;
  font-family: "II Vorkurs";
  border-top: 1px solid white;
  margin-right: 8vw;
  margin-left: 8vw;
}

* body footer .contact {
  padding: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-right: 1px solid white;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body footer .contact .titleAdress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* body footer .contact .titleAdress .titlePole {
  width: 8vw;
  font-size: 20px;
  color: white;
  margin-bottom: 12vw;
  margin-top: 2vw;
}

* body footer .contact .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 12vw;
  height: 12vw;
  border: 1px solid white;
  border-radius: 50%;
  margin: 0vw 3vw 0vw 3vw;
}

* body footer .contact .phone .number {
  white-space: nowrap;
}

* body footer nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* body footer nav ul {
  list-style-type: none;
}

* body footer nav a {
  color: white;
  text-decoration: none;
}

* body footer nav a:visited {
  color: white;
}

* body footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
=======
* body main #section-intro {
  margin-left: 13.646vw;
}

* body main #section-intro h1 {
  padding-top: 13.880vw;
  font-size: clamp(2.5vw, 4.68vw, 90px);
  font-family: 'II Vorkurs';
  max-width: 45vw;
  font-weight: bold;
  letter-spacing: -0.178vw;
  line-break: 4.688vw;
}

* body main #section-intro #front-page-video {
  width: 85.3vw;
}

* body main #section-intro .arrow {
  text-align: right;
  margin-right: 8.75vw;
  padding: 1.875vw;
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 223px;
  height: 223px;
  border-radius: 50%;
>>>>>>> 3eacce4c59a620b8f98696e928c6dedeb2c0d45b
}
/*# sourceMappingURL=display.css.map */