.cookies{
    height: auto;
    position: fixed;
    padding: 2rem 3rem;
    bottom: 0;
    right: 0;
    background-color: var(--unnamed-color-171717);
    border: 1px solid var(--unnamed-color-4b4b4b);
    margin: 2rem;
    z-index: 20;
    
    .texte{
        width: 29rem;
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-300) 14px/19px var(--unnamed-font-family-ii-vorkurs);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--unnamed-color-ffffff);
        text-align: left;
        font: normal normal 300 14px/19px II Vorkurs;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }

    .btns{
        margin-top: 2rem;
    }
    .accept{
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) 14px/19px var(--unnamed-font-family-ii-vorkurs);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--unnamed-color-ffffff);
        text-align: center;
        font: normal normal medium 14px/19px II Vorkurs;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        margin-right: 2rem;
    }

    .refuse{
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-300) 14px/19px var(--unnamed-font-family-ii-vorkurs);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--unnamed-color-ffffff);
        text-align: center;
        font: normal normal 300 14px/19px II Vorkurs;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 0.4;
    }
}