// TEST
footer {
  display: flex;
  color: #ffffff;
  border-top: 1px solid white;
  max-width: 75%;
  margin-left: 25rem;
  .contact {
    padding: 0.8rem;
    display: flex;
    border-right: 1px solid white;
    justify-content: space-between;
    align-items: center;
    flex-basis: 33%;
    .titleAdress {
      display: flex;
      flex-direction: column;
      font-size: 15px;
    }
    .titlePole {
      font-size: 20px;
      width: 10.7rem;
      margin-bottom: 8rem;
      color: white;
      line-height: 3rem;
      margin-top: 3rem;
    }
  }
  .phone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 15rem;
    border: 1px solid white;
    border-radius: 50%;
    margin: 0rem 1rem 0rem 1rem;
    .number {
      white-space: nowrap;
    }
  }
  .copyright {
    display: flex;
    flex-basis: 66%;
    .menuCredits {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 1rem 1rem 1rem 1rem;
    }
    ul {
      list-style-type: none;
      li {
        margin: 1rem 1rem 1rem 0rem;
        white-space: nowrap;
        a {
          color: white;
          text-decoration: none;
          &:visited {
            color: white;
          }
        }
      }
    }
  }
}
