// TEST
footer {
  display: flex;
  color: #ffffff;
  border-top: 1px solid white;
  margin-right: 5rem;
  margin-left: 5rem;
  .contact {
    padding: 0.8rem;
    display: flex;
    border-right: 1px solid white;
    justify-content: space-around;
    align-items: center;
    .titleAdress {
      display: flex;
      flex-direction: column;
      font-size: 15px;
    }
    .titlePole {
      font-size: 20px;
      width: 8vw;
      margin-bottom: 8rem;
      margin-top: 1rem;
      color: white;
    }
  }
  .phone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9rem;
    height: 9rem;
    border: 1px solid white;
    border-radius: 50%;
    margin: 0rem 1rem 0rem 1rem;
    .number {
      white-space: nowrap;
    }
  }
  .copyright {
    display: flex;
    .menuCredits {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 1rem 1rem 1rem 1rem;
    }
    ul {
      list-style-type: none;
      li {
        margin: 1rem 1rem 1rem 0rem;
        white-space: nowrap;
        a {
          color: white;
          text-decoration: none;
          &:visited {
            color: white;
          }
        }
      }
    }
  }
}
