// TEST
footer {
  display: flex;
  color: #656565;
  font-family: "II Vorkurs";
  border-top: 1px solid white;
  margin-right: 8vw;
  margin-left: 8vw;
  .contact {
    padding: 2vw;
    display: flex;
    border-right: 1px solid white;
    justify-content: space-around;
    align-items: center;
    .titleAdress {
      display: flex;
      flex-direction: column;
      .titlePole {
        width: 8vw;
        margin-bottom: 6rem;
        margin-top: 1rem;
        font: var(--unnamed-font-style-normal) normal
          var(--unnamed-font-weight-medium) var(--unnamed-font-size-20) /
          var(--unnamed-line-spacing-30) var(--unnamed-font-family-ii-vorkurs);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--unnamed-color-ffffff);
        text-align: left;
        letter-spacing: 0px;
        color: #ffffff;
        opacity: 1;
      }
    }
    .phone {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 12vw;
      height: 12vw;
      border: 1px solid white;
      border-radius: 50%;
      margin: 0vw 3vw 0vw 3vw;
      .number {
        white-space: nowrap;
      }
    }
  }
  nav {
    display: flex;

    ul {
      list-style-type: none;
    }
    a {
      color: white;
      text-decoration: none;
      &:visited {
        color: white;
      }
    }
  }
  .copyright {
    display: flex;
    justify-content: space-around;
  }
}
