#section-intro{
    padding: 26.675rem 0 0 0;
    position: relative;
    width: 100%;
    margin-left: clamp(7.9rem, 25vw, 26.2rem);
    h1{
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-90)/var(--unnamed-line-spacing-90) var(--unnamed-font-family-ii-vorkurs);
        letter-spacing: var(--unnamed-character-spacing--3-42);
        color: var(--unnamed-color-ffffff);
        text-align: left;
        font-size: clamp(7.3rem, 4.68vw, 9rem);
        font-family: 'II Vorkurs';
        line-height: 9rem;
        letter-spacing: -3.42px;
        color: #FFFFFF;
        opacity: 1;
        width: clamp(50.5rem, 40.8vw, 78.4rem);
    }
    
    #front-page-video{
       width: clamp(68.9rem, 86.3vw, 165.7rem);
       height: auto;
       object-fit: contain;
        opacity: 1;
        text-align: right;
        transform: translateY(-20%);

        img{
            width: 100%;
            height: auto;
        }
    }

    .arrow{
        display: inline-block;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        border: 1px solid rgba($color:white, $alpha: 0.2);
        border-radius: 50%;
        z-index: 1;
        height: 27.3rem;
        width: 27.3rem;
        margin-left: auto;
        transform: translateY(-10%);
        right: 25%;
        img{
            height: 3.6rem;
            width: 3.6rem;
        }
    
    }

}

.intro-text{
    max-width: 100%;
    margin: 14.3rem 0 0 clamp(7.9rem, 25vw, 26.2rem);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:10rem;
    

    .installation, .lieu-travail{
        flex-basis:33.4rem;
        h3{
            font-size: 3.4rem;
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-26) var(--unnamed-font-family-ii-vorkurs);
            letter-spacing: var(--unnamed-character-spacing-0);
            color: var(--unnamed-color-ffffff);
            text-align: left;
            font: normal normal bold II Vorkurs;
            letter-spacing: 0px;
            color: #FFFFFF;
            opacity: 1;
            margin-bottom: 4rem;
        }

        ul li {
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-300) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-26) var(--unnamed-font-family-ii-vorkurs);
            letter-spacing: var(--unnamed-character-spacing-0);
            color: var(--unnamed-color-ffffff);
            text-align: left;
            font: normal normal 300 18px/26px II Vorkurs;
            letter-spacing: 0px;
            color: #FFFFFF;
            opacity: 1;
        }
    }
    .texte{
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-34)/var(--unnamed-line-spacing-47) var(--unnamed-font-family-ii-vorkurs);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--unnamed-color-ffffff);
        text-align: left;
        font-family: 'II Vorkurs';
        font-size: 3.4rem;
        letter-spacing: 0px;
        color: #FFFFFF;
        line-height: 4.7rem;
        opacity: 1;
        flex-basis: 33.4rem;
    }

}

.projet{
    margin: clamp(12.9rem, 19.995vw, 26.2rem) 0 0 26.675rem;

    h2{
        text-align: left;
        font: normal normal bold 90px/90px II Vorkurs;
        letter-spacing: -3.42px;
        opacity: 1;
        color: var(--unnamed-color-ffffff);
        font-size: clamp(7.3rem, 4.688vw, 9rem);
        width: clamp(61rem, 52.369vw ,100.6rem);

        span{
            color: var(--unnamed-color-ffc33b);
        }
    }

    .container{
        width: clamp(61rem, 75.208vw, 144.4rem);
        display: flex;
        flex-direction: column;

        p{
            max-width: 71.2rem;
            font-size: 2.4rem;
            line-height: 2.6rem;
            color: var(--unnamed-color-777777);
            margin-top: 2.36rem;
        }

        .cards{
            display: flex;
            flex-wrap: wrap;
            margin-top: 4.72rem;
            gap: 1rem;
            width: 100%;
            .card{
                width: clamp(19rem, 11.250vw ,21.6rem);
                height: clamp(29.1rem, 17.240vw ,33.1rem);
                background-color: var(--unnamed-color-212121);
                margin: 0 0;
                display: flex;
                justify-content: space-between;
                flex-direction: column;

                .company-logo{
                    margin: 3.9rem 0 0 2.6rem;
                    width: 4.415rem;
                    height: 4.415rem;
                    img{
                        max-width: 100%;
                        max-height: 100%;
                    }

                }

                h4{
                    margin: 0 0 3.9rem 2.6rem;

                    font-size: 2.4rem;
                    line-height: 2.6rem;
                    letter-spacing: var(--unnamed-character-spacing-0);
                    color: var(--unnamed-color-ffffff);
                    text-align: left;
                    letter-spacing: 0px;
                    color: #FFFFFF;

                    span{
                        color: var(--unnamed-color-ffc33b);
                        font-size: 1.5rem;
                    }
                }

                &:nth-child(6){
                    border: 1px solid var(--unnamed-color-777777);
                    background-color: transparent;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .container{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        width: 13rem;

                        h4{
                            font-size: 1.8rem;
                            text-align: center;
                            line-height: 2.2rem;
                            margin: 2rem 0 0 0;
                        }
                    }
                }
            }
        }
    }

}

@media only screen and (max-width: 769px){

    #section-intro, .intro-text, .projet{
        margin-left: clamp(3.2rem, 4.11vw, 7.9rem);
        }

    #section-intro{
        padding: 0 0 0 0;
        margin: 12.3rem 0 0 7.9rem;
        h1{
            line-height: 7rem;
            font-size: clamp(5.2rem,3.802vw,7.3rem);
            width: clamp(31rem, 26.302vw, 50.5rem);
        }
    }
}