.align-left-with-header {
    margin:0rem 26.675rem ;
}
.espaces-top-banner {
    background-color: var(--unnamed-color-ffffff);
    text-align:center;
    .banner-image-container {
        .banner-image{
            width:100%;
        }
    }
}

.section-espaces-white {
    background-color: var(--unnamed-color-ffffff);
    text-align:left;
    .espaces-pagination {
        position:relative;
        top: 15rem;
    }
    .espaces-description-container{
        display:flex;
        .button-link {
            text-decoration: none;
        }
    }
}

.section-outils-black {
    background-color: var(--unnamed-color-000000);
    text-align:left;
    .outils-description-container{
        display:flex;
    }
    .outils-image-container {
        .outils-image{
            width:100%;
        }
    }
    .outils-accordeon-container{
        
    }
}

@import './cta'