.text-scroll{
    width: 100%;
    margin-top: 25rem;
    overflow-x: hidden;
    h2{
        white-space: nowrap;
        font-family:'II Vorkurs';
        font-size: clamp(10.8rem,7.083vw, 13.6rem);
        letter-spacing: -.513rem;
        opacity: 1;
        color: white;
        animation: 20s slide 1s linear infinite;
        transform: translateX(100%);
        transform-origin: left;

    }

}

@keyframes slide {
    to{
      transform: translateX(-150%);
    }
  }