aside{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    min-height: 96vh;
    width: 7.625vw;
    border: 1px solid black;
    border-color: transparent;
    border-right-color: rgba($color:white, $alpha: 0.2);
    border-bottom-color: rgba($color:white, $alpha: 0.2);
nav{
    margin-bottom: 25px;
    ul{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
        font-size: 1rem;
        font-family: 'II Vorkurs';
        li{
            padding: 25px 50px;

            a{
                color: var(--font-color-main);
                text-decoration: none;
            }
        }
    }
}
}